<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>D.O.B:</strong>
  <%= @profile.DOB.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @profile.contact %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
