<div class="form-wrapper">
  <%= simple_form_for @listing do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="form-item">
      <%= f.input :title %>
    </div>
    <div class="form-item">
      <%= f.input :category %>
    </div>
    <div class="form-item">
      <%= f.input :price %>
    </div>
    <div class="form-item">
      <%= f.input :description %>
    </div>
    <div class="form-item">
      <%= f.file_field :picture, class: "form-control form-control-sm", accept: 'image/png, image/jpg, image/jpeg' %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-outline-info mb-3" %>
    </div>
  <% end %>
</div>