<h2 class="text-center">Listings</h1>
<div class="form-actions xtra-pad-btm"><%= link_to 'Create Listing', new_listing_path, class: 'btn btn-primary' %></div>

<% if current_user.admin? %>
  <table class="table table-hover table-bordered border-secondary">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
      </tr>
    </thead>

    <tbody>
      <% @listings.each do |listing| %>
        <tr>
          <td><%= listing.title[0...30] %></td>
          <td><%= listing.category[0...30] %></td>
          <td><%= listing.price %></td>
          <td class="table-description"><%= listing.description[0...30] %></td>
          <td class="table-container">
            <div class="table-link"><%= link_to 'View Listing', listing %></div>
            <div class="table-link"><%= link_to 'Edit', edit_listing_path(listing) %></div>
            <div class="table-link"><%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="card-wrapper">
    <% @listings.each do |listing| %>
      <div class="card" style="width: 18rem;">
      <% if listing.picture.attached? %><%= image_tag listing.picture, class:"card-img-top" %><% end %>
        <div class="card-body">
          <h5 class="card-title text-center"><%= listing.title %></h5>
          <p class="card-text"><%= listing.description[0...150] %></p>
          <div class="form-actions"><%= link_to 'View Listing', listing, class: 'btn btn-primary' %></div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>