<div class="alert alert-warning" role="alert"><%= notice %></div>

<div class="img-container">
  <% if @listing.picture.attached? %>
    <%= image_tag @listing.picture, class:"rounded mx-auto d-block img-fluid" %>
  <% end %>
</div>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<h2>Contact Details</h2>

<p>
  <strong>Name:</strong>
  <%= @listing.profile.name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @listing.profile.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listing.user.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.profile.location %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
