<p id="notice"><%= notice %></p>

<div class img-wrapper>
<%= image_tag @listing.picture if @listing.picture.attached? %>
</div>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<h2>Contact Details</h2>

<p>
  <strong>Name:</strong>
  <%= @listing.profile.name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @listing.profile.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listing.user.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.profile.location %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
